@{
    Layout = "_SiteLayout.cshtml";
    Page.Title = "Home";
}

<form method="post" action="~/Get.cshtml">
    <label>Enter a number:</label>
    <input type="text" name="Number" />
    <input type="submit" value="Go" />
</form>